@font-face{
font-family:Lato-Heavy;
src:url(../fonts/Lato-Heavy.ttf);
}
@font-face{
font-family:Lato-Medium;
src:url(../fonts/Lato-Medium.ttf);
}
@font-face{
font-family:Lato-Bold;
src:url(../fonts/Lato-Bold.ttf);
}
@font-face{
font-family:Lato-Regular;
src:url(../fonts/Lato-Regular.ttf);
}
@font-face{
font-family:Lato-Light;
src:url(../fonts/Lato-Light.ttf);
}
@font-face{
font-family:Lato-Thin;
src:url(../fonts/Lato-Thin.ttf);
}
@font-face{
font-family:OpenSans-Bold;
src:url(../fonts/OpenSans-Bold.ttf);
}
@font-face{
font-family:OpenSans-Semibold;
src:url(../fonts/OpenSans-Semibold.ttf);
}
@font-face{
font-family:OpenSans-Regular;
src:url(../fonts/OpenSans-Regular.ttf);
}
@font-face{
font-family:OpenSans-Light;
src:url(../fonts/OpenSans-Light.ttf);
}

body{
  margin: 0px;
  padding: 0px;
}
a{
  text-decoration: none !important;
  color: inherit;
  outline: none !important;
}
a:hover{
  color: inherit;
}
.navbar {
  padding: 0rem 0rem;
}
.PhotoHeader {
  width: 100%;
}

.navbar-nav {
  margin-top: 0px !important;
}
.mr-auto, .mx-auto {
  margin-left: auto !important;
}
.navbar {
  position: fixed;
  z-index: 66;
  -webkit-box-shadow: 0px 3px 31px -17px #000;
          box-shadow: 0px 3px 31px -17px #000;
  top: 0;
}
.dropdown-menu.show {
  border-radius: 0;
  border-color: #ff4153;
  padding: 0;
  width: 220px;
}
.dropdown-menu.show a {
  background: #fff;
  display: block;
  padding: 8px 10px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.dropdown-menu.show a:hover{
  background: #ddd;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 20px;
  padding-left: 20px;
}
.navbar-expand-lg .navbar-nav .nav-link {
  text-transform: uppercase;
  color: #000 !important;
}
.navbar-brand {
  height: 80px;
}
.navbar-brand img {
  height: 100%;
}
.navbar-header.nav-1-header img {
  width: 70%;
}
.clear{clear: both;}
.button{
  width: 150px;
  margin: 0 auto;
  background: #666;
  border: 2px solid #eee;
  border-radius: 4px;
  padding: 10px ;
  outline: none;
}
.button:hover{
  border: 2px solid #FF2A40;
}
.head_line{
   padding-left: 5px;
  font-family: 'Allerta Stencil', sans-serif;
  letter-spacing: 1px;
  border-bottom: 1px solid #FF2A40;
  display: inline-table;
}
.head_line span{
  color: #FF2A40;
}
header{
  margin: 0 auto;
  max-width:1920px;
  width: 100%;
  position: fixed;
  z-index: 9999;
  background: rgba(255,255,255,0.7);
}
header img{
  margin: 10px 0px;
  width: 250px;
}
.navbar{
  margin: 0 auto;
  width: 100%;
    background: rgba(255,255,255,1);
}
.navbar li a{
  color: #000;
  font-family: Lato-Medium;
  -webkit-transition:all .3s linear;
  -o-transition:all .3s linear;
  transition:all .3s linear;
  background: none;
}
.navbar-nav{
  margin-top: 10px;
}
.nav>li>a:focus, .nav>li>a:hover{
  background: none;
}
.hvr-underline-from-center:hover, .navbar ul li .hvr-underline-from-center:focus {
    color: #FF2A40 !important;
    
}
.navbar-nav > li {
  position: relative;
  z-index: 1;
}
.navbar-nav > li > a {
  font-size: 14px;
}
.navbar-nav > li::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  left: 0;
  text-align: ;
  top: 0;
  background: red;
  z-index: -1;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  -webkit-transform: scaleY(0);
      -ms-transform: scaleY(0);
          transform: scaleY(0);
  opacity: 0;
}
.navbar-nav > li:hover:before{
  -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
          transform: scaleY(1);
  opacity: 1;
}
.navbar-expand-lg .navbar-nav .nav-link:hover{
  color: #fff !important;
}
.submenu {
  list-style: none;
  position: absolute;
  top: 30px;
  padding: 0;
  left: 0;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  -webkit-transform: translateY(50px);
      -ms-transform: translateY(50px);
          transform: translateY(50px);
  opacity: 0;
  width: 200px;
  border: 1px solid #fd2e48;
  visibility: hidden;
}
.submenu li {
  padding: 5px 13px;
  background: #ddd;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}
.submenu li:hover{
  background: #fff;
}
.submenu li a {
  display: block;
  padding: 5px 10px;
  color: #262626;
}
.navbar-nav > li:hover .submenu {
  -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
          transform: translateY(20px);
  opacity: 1;
  visibility: visible;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background: #FF2A40;
  visibility: hidden;
  border-radius: 0px;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: .25s linear;
  -o-transition: .25s linear;
  transition: .25s linear;
}
.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  color: #FF2A40;

}
.float_left{
  float: right;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
.slide_sec{
  margin: 0 auto;
  max-width: 1920px;
  width: 100%;
}

.about_sec{
  margin: 0 auto;
  max-width:1920px;
  width: 100%;
  padding: 80px 0px;
}

.about_sec p {
  font-family: Lato-light;
  font-size: 20px;
  text-align: left;
  max-width: 650px;
  width: 95%;
  margin: 40px auto;
}

.activiti_sec{
  margin:0 auto;
  max-width:1920px;
  width:100%;
  text-align: center;
}
.activiti_sec .viewport-height{
  height: 100vh;
}
.activiti_sec .head_line {
  color: #ffffff;
  text-transform: uppercase;
}
.activiti_sec h3 {
  font-family: 'Courgette', cursive;
  color: #ffffff;
  text-transform: capitalize;
  font-size: 21px;
}
.activiti_box {
  margin: 50px -15px;
  padding: 50px 20px 30px 20px;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  margin-bottom: 0px;
  min-height: 350px;
}
.activiti_box:hover{
  background: rgba(255,255,255,0.1);
}
.activiti_box img{
  width:70px;
}
.activiti_sec p{
  font-family: 'Chakra Petch', sans-serif;
  color: #eeeeee;
  font-size: 14px;
}
.carousel-inner {
  height: 100vh;
}
.carousel-item img {
  width: 100%;
}
.carousel-indicators {
  display: none;
}

.submition_section {
  padding: 90px 0px;
  background: #dfe6e9;
  position: relative;
}
.submition_section h4 {
  color: #287964;
  font-weight: 700;
  font-size: 26px;
  font-family: 'Allerta Stencil', sans-serif;
}
.submition_section h4 span {
  margin-left: 160px;
}
.submition_section a {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  padding: 10px 32px;
  border: 2px solid #ff2a40;
  color: #ff2a40;
  text-transform: uppercase;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  font-weight: 700;
}

.submition_section a:hover{
  color: #fff;
  background: #ff2a40;
}

.sec_activiti{
  margin: 0 auto;
  max-width: 1920px;
  width: 100%;
  background: #222;
  overflow: hidden;
}
.sec_activiti .viewport-height{
  height: inherit;
}

.box_activiti{
  padding: 60px;
  margin: 0px -15px;
  text-align: center;
  height: 100%;
  -webkit-transition:all .3s linear;
  -o-transition:all .3s linear;
  transition:all .3s linear;
}
.box_activiti:hover{
  background: #222222;
  margin: 0px -15px;
}
.box_activiti h3{
    font-family: 'Courgette', cursive;
    color: #ffffff;
    text-transform: capitalize;
    font-style: normal;
}
.box_activiti p {
    font-family: 'Chakra Petch', sans-serif;
    color: #eeeeee;
    font-size: 14px;
    font-style: normal;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.box_activiti:hover.box_activiti p{
  color: #FF3450;
}
.section_gellary {
  margin: 0 auto;
  max-width: 1920px;
  width: 100%;
  padding: 80px 0px;
  background: #000;
}
.owl-carousel {
  overflow:hidden;
  } 
 .PhotoPar{
    font-size: 36px;
    font-weight: 300;
    line-height: 36px;
    margin-bottom: 50px;
    margin-top: 15px;
    padding-bottom: 45px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
       font-family: 'Allerta Stencil', sans-serif;
 }
 .PhotoPar::before {
    background: #ff3450;
    bottom: 12px;
    content: "";
    height: 5px;
    left: 50%;
    position: absolute;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    width: 170px;
 }
 .PhotoPar::after{
    bottom: 0px;
    color: rgb(255, 255, 255);
    content: "";
    font-size: 14px;
    height: 30px;
    left: 50%;
    line-height: 30px;
    position: absolute;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 30px;
    background: rgb(255, 52, 80);
    border-radius: 50%;
 }
 .PhotoPar i.fa {
    background: #ff3450;
    border-radius: 15px;
    bottom: 0;
    color: #fff;
    font-size: 14px;
    height: 30px;
    left: 50%;
    line-height: 30px;
    position: absolute;
    -webkit-transform: translateX(-15px);
    -ms-transform: translateX(-15px);
        transform: translateX(-15px);
    width: 30px;
    z-index: 9;
  }

/*End Header*/

/*Start Slider*/
 .item{
  width: 100%;
 }
/*End Slider*/

/*Start Client*/
 .Client{

  margin-top: 5%;
 }
 .ClientsTypeContent{
  width: 15%;
  margin-left: 1.66666%;
 background-color:white; 
 height: 120px;
 }
 .ClientsTypeContent img{
    width: 100%;
    margin: 1px 0px;
    padding: 0 25px;
  }

  @media (max-width: 767px) 
  {
     .ClientsTypeContent{
      width: 40%;
      margin-left: 5%;
      height: auto;
      margin-bottom: 10%;
     }
     .ClientsTypeContent:nth-of-type(even)
     {
        margin-left: 10%;
     }
  }
   @media (min-width: 768px) and (max-width:991px)
  {
      .ClientsTypeContent{
        width: 28%;
        margin-left: 4%;
        height: auto;
        margin-bottom: 10%;
      }
     
  }
/*End Client*/

/*Start Responsive next and last*/
 .owl-next
 {
  float: right;
  margin-right: 1%;
  font-size: 50px !important;
  position: relative;
  bottom:220px;
  background-color: transparent !important;
 }
 .owl-next:hover ,.owl-prev:hover{
  color: #2E9AFE !important;
 }
 .owl-prev
 {
   float: left;
  margin-right: 1%;
  font-size: 50px !important;
  position: relative;
  bottom:220px;
  background-color: transparent !important;
 }


 @media (max-width: 767px) 
  {
    .owl-prev,.owl-next
      {
         display: none !important;
      }
      .PhotoPar
      {
        font-size: 25px;
      }
      .item
      {
        width: 100% !important;
      }
  }

  @media(min-width: 768px) and (max-width: 991px)
  {
      .owl-prev,.owl-next
      {
         display: block !important;
         bottom: 190px !important;
         font-size: 30px !important;
      }
  }

  @media(min-width:992px) and (max-width: 1199px)
  {
      .owl-prev,.owl-next
      {
         bottom: 160px !important;
         font-size: 30px !important;
      }
  }
  .owl-theme .owl-nav {
    margin-top: -76px;
  }

.sec_team {
  margin: 0 auto;
  max-width: 1920px;
  width: 100%;
  padding: 80px 0px;
  background: #ecedff;
  overflow: hidden;
}

/*
* 1. core styles
*/

.teamy{
  position: relative;
}

.teamy__layout{
  position: relative;
  overflow: hidden;
}

.teamy__layout:before{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
}

.teamy__avatar{
  display: block;
  max-width: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
}

.teamy__back{
  display: none;
}

.teamy:hover .teamy__back{
  width: 100%;
  height: 100%;  
  display: -webkit-box;  
  display: -ms-flexbox;  
  display: flex;

  position: absolute;
  top: 0;
  left: 0;    
  z-index: 3;
}

.teamy__back-inner{
  text-align: left;
  margin: auto;
  will-change: opacity;
  -webkit-animation: fade .4s cubic-bezier(0.71, 0.05, 0.29, 0.9) .2s both;
          animation: fade .4s cubic-bezier(0.71, 0.05, 0.29, 0.9) .2s both;
}
.teamy__back-inner a{
  display: block;
}
@-webkit-keyframes fade{
  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }  
}
@keyframes fade{
  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }  
}

.teamy__name, .teamy__post{
  display: block;
}

/*
* 2. visual styles
*/

/* common styles for visual styles */

.teamy{
  font-size: 1.6rem;
  text-align: center;
}

.teamy__back-inner{
  padding: 20px;
  
}
.teamy__back-inner a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 6px 16px;
  border: 1px solid #fff;
  margin-bottom: 9px;
}
.teamy__back-inner a i{
  margin-right: 5px;
}
.teamy__back-inner a:hover{
   color:#FF2A40 ;
}
.teamy__content {
  padding: 10px;
  color: #444;
}

.teamy__name {
  font-size: .9em;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 15px;
}

.teamy__post {
  margin-top: .5em;
  font-size: .6em;
  text-transform: uppercase;
}

/*
* 3. masks
*/

/* mask circle */

.teamy_mask-circle .teamy__layout:before{
  width: 0;
  height: 0;
  padding: 25%;
  border-radius: 50%;

  -webkit-transition: opacity .3s ease-out, -webkit-transform .3s ease;

  transition: opacity .3s ease-out, -webkit-transform .3s ease;

  -o-transition: transform .3s ease, opacity .3s ease-out;

  transition: transform .3s ease, opacity .3s ease-out;

  transition: transform .3s ease, opacity .3s ease-out, -webkit-transform .3s ease;
  will-change: opacity, transform;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%) scale(0);
      -ms-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}

.teamy_mask-circle:hover .teamy__layout:before{
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(4);
      -ms-transform: translate(-50%, -50%) scale(4);
          transform: translate(-50%, -50%) scale(4);
  -webkit-transition-duration: .6s;
       -o-transition-duration: .6s;
          transition-duration: .6s;
}

/* mask triangle */

.teamy_mask-triangle .teamy__layout:before{
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-clip-path: polygon(50% 10%, 15% 90%, 85% 90%);
          clip-path: polygon(50% 10%, 15% 90%, 85% 90%);

  -webkit-transition-property: opacity, -webkit-transform;

  transition-property: opacity, -webkit-transform;

  -o-transition-property: transform, opacity;

  transition-property: transform, opacity;

  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-duration: .2s, .4s;
       -o-transition-duration: .2s, .4s;
          transition-duration: .2s, .4s;
  -webkit-transition-delay: .4s, 0s;
       -o-transition-delay: .4s, 0s;
          transition-delay: .4s, 0s;
  -webkit-transition-timing-function: ease-out;
       -o-transition-timing-function: ease-out;
          transition-timing-function: ease-out;

  will-change: transform, opacity;
  -webkit-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.teamy_mask-triangle:hover .teamy__layout:before{
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(5);
      -ms-transform: translate(-50%, -50%) scale(5);
          transform: translate(-50%, -50%) scale(5);
  -webkit-transition-delay: .1s, 0s;
       -o-transition-delay: .1s, 0s;
          transition-delay: .1s, 0s;
  -webkit-transition-duration: .4s;
       -o-transition-duration: .4s;
          transition-duration: .4s;
}

/*
* 4. animations for preview
*/

/* zoom */

.teamy_zoom-photo .teamy__avatar{
  -webkit-transition: -webkit-transform .4s cubic-bezier(0.71, 0.05, 0.29, 0.9);
  transition: -webkit-transform .4s cubic-bezier(0.71, 0.05, 0.29, 0.9);
  -o-transition: transform .4s cubic-bezier(0.71, 0.05, 0.29, 0.9);
  transition: transform .4s cubic-bezier(0.71, 0.05, 0.29, 0.9);
  transition: transform .4s cubic-bezier(0.71, 0.05, 0.29, 0.9), -webkit-transform .4s cubic-bezier(0.71, 0.05, 0.29, 0.9);
  will-change: transform;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.teamy_zoom-photo:hover .teamy__avatar{
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

/* zoom and rotate */

.teamy_zoom-rotate-photo .teamy__avatar{
  -webkit-transition: -webkit-transform .4s cubic-bezier(0.71, 0.05, 0.29, 0.9);
  transition: -webkit-transform .4s cubic-bezier(0.71, 0.05, 0.29, 0.9);
  -o-transition: transform .4s cubic-bezier(0.71, 0.05, 0.29, 0.9);
  transition: transform .4s cubic-bezier(0.71, 0.05, 0.29, 0.9);
  transition: transform .4s cubic-bezier(0.71, 0.05, 0.29, 0.9), -webkit-transform .4s cubic-bezier(0.71, 0.05, 0.29, 0.9);
  will-change: transform;
  -webkit-transform: scale(1) rotate(0);
      -ms-transform: scale(1) rotate(0);
          transform: scale(1) rotate(0);
}

.teamy_zoom-rotate-photo:hover .teamy__avatar{
  -webkit-transform: scale(1.2) rotate(5deg);
      -ms-transform: scale(1.2) rotate(5deg);
          transform: scale(1.2) rotate(5deg);
}

/* zoom and slide */

.teamy_zoom-slide-photo .teamy__avatar{
  -webkit-transition: -webkit-transform .4s cubic-bezier(0.71, 0.05, 0.29, 0.9);
  transition: -webkit-transform .4s cubic-bezier(0.71, 0.05, 0.29, 0.9);
  -o-transition: transform .4s cubic-bezier(0.71, 0.05, 0.29, 0.9);
  transition: transform .4s cubic-bezier(0.71, 0.05, 0.29, 0.9);
  transition: transform .4s cubic-bezier(0.71, 0.05, 0.29, 0.9), -webkit-transform .4s cubic-bezier(0.71, 0.05, 0.29, 0.9);
  will-change: transform;
  -webkit-transform: scale(1) translate(0, 0);
      -ms-transform: scale(1) translate(0, 0);
          transform: scale(1) translate(0, 0);
}

.teamy_zoom-slide-photo:hover .teamy__avatar{
  -webkit-transform: scale(1.2) translate(4%, 4%);
      -ms-transform: scale(1.2) translate(4%, 4%);
          transform: scale(1.2) translate(4%, 4%);
}

/*
* 5. default skin
*/

.teamy__layout:before{
  background-color: rgba(0, 0, 0, .8);
}

/*
* touch scroller 
*/

/*
=====
LEVEL 1. CORE STYLES
=====
*/

@media (max-width: 1024px){

  .scroller{
    --uiScrollerNumberVisibleItems: var(--scrollerNumberVisibleItems, 1);
    overflow: hidden;
  }

  .scroller__box{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    font-size: 0;
    -webkit-overflow-scrolling: touch;
  }

  .scroller__item{
    width: calc(100% / var(--uiScrollerNumberVisibleItems));
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    font-size: initial;
  }
}

/*
* demo
*/

@media (max-width: 360px){
  
  .teamy-team{
    --scrollerNumberVisibleItems: 1.2;
  }
}

@media (min-width: 361px) and (max-width: 480px){
  
  .teamy-team{
    --scrollerNumberVisibleItems: 1.8;
  }
}

@media (min-width: 481px) and (max-width: 1024px){
  
  .teamy-team{
    --scrollerNumberVisibleItems: 2.8;
  }
}

@media (min-width: 1025px){
  
  .scroller__box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  
  .scroller__item{
    width: 25%;
  }
}



.street {
  margin: 0 auto;
  max-width: 1920px;
  width: 100%;
}
.street .pad{
  padding: 80px 0px;
}
.street h2{
  font-family: 'Supermercado One', cursive;
}
.street p {
  font-size: 18px;
  letter-spacing: 2px;
}
.street span {
  display: block;
  font-size: 19px;
  letter-spacing: 2px;
  margin-bottom: 15px;
  color: #FF2A40;
}
/* CSS Setting for Bottom-top */
#totopscroller {
position: fixed;
right: 40px;
bottom: 60px;
width: 40px;
z-index: 9999;
}

#totopscroller i{
color: #fff;
text-align: center;
padding: 1px 8px;
border-radius: 0;
background: #0e1233;
cursor:pointer;
}
#totopscroller .fa-border{
border:1px solid #fff;
}
/* CSS Setting for Bottom-top */



footer{
  margin:0 auto;
  width: 100%;
  background:#222;
  padding: 80px 0px;
  border-top: 2px solid #ff3450;
}

/* section fixed*/



.viewport-height {
  height: 320px;
}
.position {
  position: relative;
  z-index: 9999;
}
.viewport-height-minheight {
  min-height: 320px;
  min-height: 100vh
}
.head_sec {
  position: relative;
  z-index: 7;
}
@media (min-aspect-ratio:1/1) {
  .viewport-height-landscape-only {
    min-height: 320px;
    height: 100vh
  }
}

@media (max-aspect-ratio:1/1) {
  .viewport-height-portrait-only {
    min-height: 320px;
    height: 100vh
  }
}

@media only screen and (orientation:portrait) {
  .viewport-height-landscape-only iframe {
    width: 100%;
    height: calc(100vw / 1.78)
  }
}

[data-object-fit=cover] {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%
}
.scrollmation-background .background-overlay {
  position: absolute;
  visibility: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: #000;
  opacity: 0.6;
}
.section-text-over-media {
  position: relative;
  overflow: hidden;
  background: center center no-repeat #000;
  background-size: cover;
  color: #fff;
}

.section-text-over-media .text {
  z-index: 10;
  width: 100%;
  margin: 50px auto;
}

.section-text-over-media .background-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  background: #000;
  opacity: 0.7;
}

.section-background {
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: 0;
  width: 100%;
  z-index: 2;
}

.section-background .section-background-image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.section-background.section-background-fixed {
  clip: rect(0, auto, auto, 0);
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
}

.section-background.section-background-fixed .section-background-image {
  position: fixed;
  -moz-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}


@media (max-width:1100px) and (min-height:760px) {
  .section-text-over-media .text {
    width: 100%;
  }
  .text-over-media-inner {
    font-size: 50px;
  }
}





/* This css for About section*/
.about_section_top {
  height: 100%;
  background: url(../img/technology-lens-blur-zoom-wallpaper.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 80px;
}
.about_studio {
  width: 1200px;
  background: rgba(0,0,0,.5);
  color: #fff;
  border: 1px solid #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 18px;
  margin: 60px auto;
}
.about_message {
  padding: 50px 0px;
  overflow: hidden;
  background: #dfe4ea;
}
.messanger_img {
  height: 564px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 5px;
  -webkit-box-shadow: 0px 23px 36px -19px #000;
  box-shadow: 0px 23px 36px -19px #000;
  border: 1px solid #ddd;
  overflow: hidden;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}
.owner_msg {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 5px;
  -webkit-box-shadow: 0px 23px 36px -19px #000;
  box-shadow: 0px 23px 36px -19px #000;
  min-height: 564px;
  padding: 15px;
  border: 1px solid #ddd;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}
.messanger_img:hover, .owner_msg:hover{
  -webkit-box-shadow: 0px 0px 0px 0px;
          box-shadow: 0px 0px 0px 0px;
  border: 1px solid #DFE4EA;
}
.messanger_img img {
  width: 100%;
  height: 100%;
}
.owner_msg p {
  font-size: 16px;
 font-family:Lato-Light;
}

.what_do_we {
  padding: 100px 0px;
}
.what_we_mgs {
  width: 900px;
  margin: 0 auto;
  text-align: center;
}
.what_we_mgs h1 {
  color: #ff2a40;
  text-transform: uppercase;
  font-size: 30px;
  font-family: 'Allerta Stencil', sans-serif;
  position: relative;
  margin: 0;
  margin-bottom: 30px;
}
.what_we_mgs h1::before {
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  background: #ff2a40;
  bottom: -9px;
  left: 0;
}
.what_we_mgs p {
  font-size: 17px;
  font-family: lato-medium;
}
.studio_image img {
  width: 100%;
}
.studio_content h3 {
  font-family: 'Allerta Stencil', sans-serif;
  color: #FF2A40;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 22px;
}
.studio_content h3 span{
  color: #fff;
}
.studio_content p {
  font-size: 17px;
  text-align: center;
}
.studio_content a {
  text-align: ;
  display: inline-block;
  background: ;
  border: 1px solid #ddd;
  padding: 8px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 30px;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 15px;
}
.studio_content a:hover{
  border: 1px solid #CE2440;
}
.object_info h3 {
  font-size: 24px;
  color: #ff2a40;
  font-family: 'Allerta Stencil', sans-serif;
  text-transform: capitalize;
  margin: 0;
  margin-bottom: 30px;
}
.list_box {
  margin-bottom: 30px;
}
.list_box h5 {
  font-size: 18px;
  margin: 0;
  margin-bottom: 10px;
  color: #000;
  font-family: lato-medium;
}
.list_box ul {
  list-style: none;
  padding: 0;
}
.list_box ul li {
  font-size: 16px;
  margin-bottom: 6px;
  color: #262626;
  font-family: lato-light;
}
.list_box ul li i {
  margin-right: 10px;
}

.no_pd{
  padding:0;
}
.no_mr{
  margin:0;
}
.single_images {
  height: 425px;
}
.single_images img {
  width: 100%;
  height: 100%;
}
.about_section_bottom{
  border-top: 1px solid #fff;
}
.single_images img {
  width: 100%;
}
.single_img img {
  width: 100%;
}
.single_img{
  position: relative;
  z-index: 1;
}
.single_img::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.7);
  z-index: -1;
  -webkit-transform: rotate(180deg) scale(.1);
      -ms-transform: rotate(180deg) scale(.1);
          transform: rotate(180deg) scale(.1);
  opacity: 0;
  -webkit-transition: .7s;
  -o-transition: .7s;
  transition: .7s;
}
.col-lg-3.grid-item {
  padding: 0px;
}


/* This css for Gallery section*/
.gallery_banner{
  background: url(../img/e376706eaa671cdbeba0c7d4fd89f5d74898b985.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  z-index: 1
}
.act_banner{
  background: url(../img/001.jpg);
   background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.overlay {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: rgba(36, 66, 74,.6);
  z-index: -1;
}
.banner_content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.banner_content h1 {
  text-transform: uppercase;
  font-size: 60px;
  font-size: ;
  font-family: 'Allerta Stencil', sans-serif;
  color: #fff;
  word-spacing: 15px
}
.heading {
  height: 150px;
  width: 100%;
  text-align: center;
  background: #fff;
  position: relative;
  margin-top: 17px;
}
.heading h1 {
  margin: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  text-transform: uppercase;
  font-family: 'Allerta Stencil', sans-serif;
  font-size: 38px;
  color: #262626;
}


.gallery_section {
  background: #000;
}
.single_img {
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.gallery_overlay{
  position: absolute;
  height: 100%;
  width: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,000000+100&0+0,1+100 */ /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(30,87,153,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(30,87,153,0)),to(rgba(0,0,0,1)));
  background: -o-linear-gradient(top, rgba(30,87,153,0) 0%,rgba(0,0,0,1) 100%);
  background: linear-gradient(to bottom, rgba(30,87,153,0) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
  -webkit-transition: .7s;
  -o-transition: .7s;
  transition: .7s;
  bottom: -100%;
}
.single_img:hover .gallery_overlay{
  bottom: 0;
} 
.content {
  position: absolute;
  bottom: -100px;
  left: 0;
  color: #fff;
  width: 100%;
  padding: 10px 30px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  opacity: 0;
}
.single_img:hover .content{
  bottom: 0;
  opacity: 1;
}
.content h3 {
  text-transform: uppercase;
  font-size: 17px;
  font-family: 'Allerta Stencil', sans-serif;
  color: #33D900;
  letter-spacing: 1px;
}
.content p {
  font-size: 13px;
  font-family: sans-serif;
  letter-spacing: 4px;
  margin-top: 20px;
}
.content h3 span {
  color: #FE0000;
}
.single_img > i {
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%) scale(0);
      -ms-transform: translate(-50%,-50%) scale(0);
          transform: translate(-50%,-50%) scale(0);
  font-size: 40px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  opacity: 0;

}
.single_img:hover.single_img > i{
  -webkit-transform: translate(-50%,-50%) scale(1);
      -ms-transform: translate(-50%,-50%) scale(1);
          transform: translate(-50%,-50%) scale(1);
  opacity: 1;
}



/* This css for Activitis section*/
.activiti_img {
  height: 350px;
}
.activiti_img img {
  height: 100%;
  width: 100%;
}
.international_exhibition_area {
  padding: 50px 0px;
  position: relative;
  z-index: 1;
}
.activitis_desc p {
  font-size: 17px;
  font-family: Lato-Light;
  color: #666666;
}
.activitis_desc h2 {
  text-transform: capitalize;
  font-family: 'Allerta Stencil', sans-serif;
  margin: 0;
  margin-bottom: 22px;
  color: #ff3450;
  font-size: 28px;
}
.side_color_6,.side_color_5,.side_color_4,.side_color_3,.side_color_2,.side_color_1 {
  position: absolute;
  top: 0;
  height: 100%;
  width: 10px;
  
}
.side_color_6{
  left: 0;
  background: #33da00;
}
.side_color_5{
  right: 0;
  background: #ff0000;
}
.side_color_4{
  left: 0;
  background: #33da00;
}
.side_color_3{
  right: 0;
  background: #ff0000;
}
.side_color_2{
  left: 0;
  background: #33da00;
}
.side_color_1{
  right: 0;
  background: #ff0000;
}

.border_btm {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: rgb(51,218,0);
  background: -webkit-linear-gradient(left, rgba(51,218,0,1) 0%,rgba(255,0,0,1) 100%);
  background: -webkit-gradient(linear, left top, right top, from(rgba(51,218,0,1)),to(rgba(255,0,0,1)));
  background: -o-linear-gradient(left, rgba(51,218,0,1) 0%,rgba(255,0,0,1) 100%);
  background: linear-gradient(to right, rgba(51,218,0,1) 0%,rgba(255,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33da00', endColorstr='#ff0000',GradientType=1 );
}






/* This css for Contact section*/
.contact_section{
  background: url(../img/logo.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}
.contact_section:before{
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,.9)
}
.contact_box {
  position: relative;
}
.contact_section h2 {
  color: #fff;
  text-transform: capitalize;
  font-size: 36px;
  margin-bottom: 30px;
  color: #ff2a40;
  font-weight: 700;
}
.contact_box p {
  color: #fff;
  font-size: 16px;
  margin-bottom: 20px;
}
.form_headline {
  margin-bottom: 40px;
}
.form_headline h4 {
  font-size: 25px;
  text-align: center;
  color: #fff;
}
.contact_box input[type="text"],.contact_box input[type="file"] {
  width: 100%;
  border: none;
  padding: 6px 6px;
  border-radius: 2px;
  background: #fff;
  margin-bottom: 15px;
}
.contact_box input[type="radio"]{

}

.contact_box label {
  color: #fff;
  font-size: 15px;
  font-family: 'Allerta Stencil', sans-serif;
  font-weight: 300;
}
.contact_button {
  padding: 8px 60px;
  border-radius: 4px;
  border: none;
  font-size: 15px;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #2ed573;
  color: #000;
  font-weight: 600;
  margin-top: 30px;
}
.contact_button:hover {
  background: #7bed9f;
}

.executive_mem_btn {
  display: inline-block;
  margin: 15px 0px;
}
.member_card {
  height: 100px;
  width: 200px;
  margin: 0 auto;
  text-align: center;
  background: #686de0;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  position: relative;
}
.member_card h1 {
  font-size: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}



/* album section started */
.gallery_album_section {
  padding: 30px 0px;
  background: #ddd;
}
.single_album_img img {
  width: 100%;
}
.single_album_img {
  border: 7px solid #fff;
  -webkit-box-shadow: 4px 4px 3px 2px #888;
          box-shadow: 4px 4px 3px 2px #888;
  margin-bottom: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.single_album_img::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,.7);
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  z-index: 2;
}
.single_album_img:hover:before{
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.single_album_img i {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%) scale(0);
      -ms-transform: translate(-50%,-50%) scale(0);
          transform: translate(-50%,-50%) scale(0);
  font-size: 35px;
  z-index: 3;
  color: #fff;
  height: 40px;
  width: 40px;
  text-align: center;
  border: 1px solid #fff;
  line-height: 41px;
  border-radius: 50%;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}
.single_album_img:hover.single_album_img i{
  -webkit-transform: translate(-50%,-50%) scale(1);
      -ms-transform: translate(-50%,-50%) scale(1);
          transform: translate(-50%,-50%) scale(1);
}
.single_album_img h2 {
  position: absolute;
  left: 50%;
  top: 100%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  z-index: 4;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-family: 'Allerta Stencil', sans-serif;
  text-transform: capitalize;
  opacity: 0;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}
.single_album_img:hover.single_album_img h2{
  opacity: 1;
  top: 77%;
}


.advisor_section {
  padding: 50px 0px;
}
.advisor_image {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 0px 1px 4px 1px #ddd;
          box-shadow: 0px 1px 4px 1px #ddd;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  overflow: hidden;
}

.advisers_desc {
  position: absolute;
  left: 0;
  bottom: -83px;
  width: 100%;
  background: #fff;
  color: #000;
  text-align: center;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.advisers_desc {
  padding: 6px 7px;
}
.advisers_desc h3 {
  font-size: 23px;
  margin-bottom: 3px;
}
.advisor_image:hover .advisers_desc{
  bottom: 0px;
}
.advisor_section:hover .advisor_image{
  margin-left: -20px;
}
.advisor_image::before {
  position: absolute;
  content: "";
  right: -10px;
  top: 5px;
  height: 100%;
  width: 10px;
  background: #ddd;
  -webkit-transform: skewY(45deg);
      -ms-transform: skewY(45deg);
          transform: skewY(45deg);
}
.advisor_image::after {
  position: absolute;
  content: "";
  bottom: -10px;
  left: 5px;
  height: 10px;
  width: 100%;
  background: #ddd;
  -webkit-transform: skewX(45deg);
      -ms-transform: skewX(45deg);
          transform: skewX(45deg);
}

.advisor_image img {
  width: 100%;
}
.advisor_message p {
  font-size: 16px;
  font-family: Lato-Light;
}
.advisor_message h3 {
  font-family: 'Allerta Stencil', sans-serif;
  color: #FF2A40;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 22px;
  margin-top: 0px;
}

.single_honourable {
  position: relative;
  z-index: 1;
  margin-bottom: 30px;
  overflow: hidden;
}
.single_honourable img {
  width: 100%;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}
.horourable_desc {
  position: absolute;
  top: 50%;
  left: -50%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}
.single_honourable:hover .horourable_desc{
  left: 50%;
}
.single_honourable:hover.single_honourable img{
  margin-left: 100%;
}
.honourable_advisers{
  padding: 50px 0px;
}
.horourable_desc::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: rgba(0,0,0,1);
}
.horourable_desc h3 {
  margin-top: 70px;
  font-size: 26px;
  font-family: 'Allerta Stencil', sans-serif;
  text-transform: capitalize;
}
.horourable_desc p {
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 18px;
  font-family: Lato-Light
}





/* This css for executive comittee section */
.executive_committee_section {
  background: #f5f6fa;
  padding: 70px 0px;
  text-align: center;
}
.committee_headline {
  margin-bottom: 60px;
  text-align: center;
}
.committee_headline h2 {
  font-family: 'Allerta Stencil', sans-serif;
  letter-spacing: 1px;
  text-transform: capitalize;
  font-size: 36px;
  position: relative;
}
.committee_headline h2 span{
  color: #FF2A40;
}
.single_member {
  width: 348px;
  height: 348px;
  position: relative;
  z-index: 1;
  margin-bottom: 30px;
}
.member_img {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
}
.member_img img {
  width: 100%;
  height: 100%;
  -webkit-transition: .7s;
  -o-transition: .7s;
  transition: .7s;
}
.member_desc {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 3;
  background: #000;
  color: #fff;
  text-align: center;
}
.single_member:hover .member_img img{
  -webkit-transform: scale(.8);
      -ms-transform: scale(.8);
          transform: scale(.8);
  opacity: 0;
}
.member_desc {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 3;
  background: #000;
  color: #fff;
  text-align: center;
  padding: 50px 0px;
  -webkit-transform: scale(.8);
      -ms-transform: scale(.8);
          transform: scale(.8);
  -webkit-transition: .7s;
  -o-transition: .7s;
  transition: .7s;
  opacity: 0;
}
.single_member:hover .member_desc{
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}
.member_desc h3 {
  font-family: 'Allerta Stencil', sans-serif;
  font-size: 26px;
  text-transform: capitalize;
}
.member_desc p {
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'Allerta Stencil', sans-serif;
}
.member_desc ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  padding: 0;
}
.member_desc ul li a {
  font-size: 24px;
  margin: 4px 10px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.member_desc ul li a:hover{
  color: #ff2a40;
}





/* This css for Footer section*/
.footer_section {
  background: #000 !important;
  padding: 90px 0px !important;
}
.footer_content ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer_content ul li{}
.footer_content ul li a {
  color: #fff;
  font-size: 19px;
  height: 40px;
  display: block;
  width: 40px;
  line-height: 40px;
  text-align: center;
  margin: 0px 6px;
  border: 1px solid #fff;
  margin-bottom: 20px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.footer_content ul li a:hover{
  border-radius: 50%;
  color: #FF3450;
}
.footer_content p {
  color: #fff;
  font-size: 15px;
}



/* Upload Page css started */
.image_uploade_area {
  height: 100vh;
  width: 100%;
  color: #fff;
  background: #ecedff;
}

.main_imput_section input[type="text"], .main_imput_section input[type="file"], select, .main_imput_section input[type="submit"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #ddd;
  font-size: 14px;
}
.main_imput_section input[type="submit"]{
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.main_imput_section input[type="submit"]:hover{
  background: #ff253e;
  color: #fff;
}
.main_imput_section textarea{
  padding: 10px;
  font-size: 14px;
  min-height: 150px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #ddd;
}

.btn_class {
  height: 50px;
  width: 50px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  background: teal;
  z-index: 9999999999999999;
  cursor: pointer;
  border-radius: 50%;
  overflow: hidden;
}
.btn_class i {
  font-size: 28px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  color: #fff;
}

.team_description {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 9;
  -webkit-transform: translate(-50%,-50%) scale(0);
      -ms-transform: translate(-50%,-50%) scale(0);
          transform: translate(-50%,-50%) scale(0);
  width: 100%;
  color: #fff;
  padding: 10px;
  -webkit-transition: .7s;
  -o-transition: .7s;
  transition: .7s;
  opacity: 0;

}
.teamy_mask-triangle:hover .team_description{
  -webkit-transform: translate(-50%,-50%) scale(1);
      -ms-transform: translate(-50%,-50%) scale(1);
          transform: translate(-50%,-50%) scale(1);
  opacity: 1;
}
.team_description p {
  font-size: 16px;
  font-family: lato-light;
}

.team_description > a {
  display: inline-block;
  border: 1px solid #fff;
  text-transform: uppercase;
  font-size: 16px;
  padding: 5px 20px;
  margin-top: 40px;
}
.team_description > a:hover{
  color: #ff2a40;
}


.workshop_partners_area {
  padding: 70px 0px;
  background: #fff;
}
.single_partners {
  border: 1px solid #ddd;
  margin: 10px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  height: 150px;
}
.single_partners:hover {
  border: 1px solid transparent;
  -webkit-box-shadow: 0px 0px 22px 5px #ddd;
          box-shadow: 0px 0px 22px 5px #ddd;
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}
.single_partners img {
  width: 100%;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  height: 100%;
}


.pho_sub_area {
  padding: 50px 0px;
}
.sub_banner img {
  width: 100%;
}
.content_details h3 {
  position: relative;
  font-size: 24px;
  text-align: center;
  font-family: 'Allerta Stencil', sans-serif;
  margin-bottom: 30px;
  color: #ff3450;
}
.content_details h3::before,.content_details h3::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -15px;
  width: 100%;
  height: 2px;
  background: #ff3450;
}
.content_details h3::after {
  bottom: -19px;
  width: 10px;
  height: 10px;
  background: #ff3450;
  left: 50%;
  margin-left: -5px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.content_details ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.content_details ul li {
  font-size: 16px;
  margin-bottom: 5px;
}

.mr_top {
  margin-top: 80px;
}




.footer_content.text-center > a {
  color: #578b5a;
  font-size: 17px;
  font-weight: 700;
  margin-left: 8px;
}
.footer_content.text-center > a:hover{
  color: #af262c
}
.footer_content.text-center img {
  width: 47px;
}
